<form id="uploadProductForm" enctype="multipart/form-data">
    <input id="file" type="file" name="file" /><br><br>
    <button type="submit">Upload product image</button>
</form>

<script>
    // fetch('/api/product/1/thumbnail', {
    //     method: 'GET'
    // })
    // .then(response => response.json())
    // .then(data => {
    //   data = "data:" + response.headers["content-type"] + ";base64," + Buffer.from(body).toString('base64');
    //     console.log(data);
    // })

    const form = document.getElementById('uploadProductForm')
    form.addEventListener('submit', (e) => {
        e.preventDefault()

        const formData = new FormData(form)
        fetch('/api/product/1/image', {
            method: 'POST',
            body: formData
        })
        .then(res => res.json())
        .then(data => {
            console.log(data)
            // document.getElementById('results').innerText = jsonData.message;
            // document.getElementById('file').value = ""
            // document.getElementById('prodImg').attr('src', `/uploads/thumbnails/${data}`)
        });
    })

</script>
